<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>DONATE</title>
</head>
<body>
	<section class="aboutus d-flex justify-content-center align-items-center">
		<div class="text-center container">
			
			
			<h1 class="font-weight-bold">About Us</h1>
			<p>As there are lot of persons who want to help the poors and needy
			persons but their money doesn't reach to the hands of the needy persons so 
			we help the needy and poor persons and reach out your money to the needy hands.</p>
			
		</div>
	</section>
</body>
</html>