<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>DONATE</title>
</head>
<body>
	<section class="gallery-section">
		<h1>Donate For Cause</h1>
		<div class="wrapper">
			<div class="box"><img alt="" th:src="@{/img/3.jpeg}"></div>
			<div class="box"><img alt="" th:src="@{/img/1.jpeg}"></div>
			<div class="box"><img alt="" th:src="@{/img/4.jpg}"></div>
			<div class="box"><img alt="" th:src="@{/img/5.jpg}"></div>
			<div class="box"><img alt="" th:src="@{/img/6.jpg}"></div>
			<div class="box"><img alt="" th:src="@{/img/2.jpeg}"></div>
		
		
		</div>
	</section>
</body>
</html>