<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>DONATE</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center container">
			<h1 class="font-weight-bold">DONATE FOR CAUSE</h1>
			<p>A donation is a gift for charity, humanitarian aid, or to benefit a cause. 
			Donating to the causes you care about not only benefits the charities themselves, it can be deeply rewarding for you too. 
			Millions of people give to charity on a regular basis to support causes they believe in, as well as for the positive effect it has on their own lives. </p>
			<br>
			<a href="https://pages.razorpay.com/pl_GqUvgYwp7fkngn/view"  class = "btn bg-primary btn-lg text-white">Donate</a>
		</div>
		
	</section>
</body>
</html>